{% extends 'journal/navbar.html' %}
{% load crispy_forms_tags %}
{% block content %}
<body>
	<div class="container form-layout bg-white shadow-md p-4 mt-5">
		<a href="{% url 'view-thoughts' %}">Back</a>
		<br><br>
		<form action="" method="post" autocomplete="off">
			{% csrf_token %}
			{{ form | crispy }}
			<br>
			<button 
				type="submit"
				class="btn btn-secondary btn-sm w-100 btn-block p-2"
			>
				<i class="fa fa-plus-circle" aria-hidden="true"></i> 
				&nbsp; 
				Create thought
			</button>
		</form>
	</div>
</body>
{% endblock content %}