{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="utf-8" />
		<meta 
			name="viewport" 
			content="width-device-width, initial-scale=1, maximum-scale=1"
		/>
		<link 
			rel="stylesheet" 
			type="text/css" 
			href="https://bootswatch.com/5/morph/bootstrap.min.css"
		>
		<link 
			rel="stylesheet" 
			type="text/css" 
			href="{% static 'css/styles.css' %}"
		>
	</head>
  <body>
    <div class="container form-layout bg-white shadow-md p-4 mt-5 text-center">
      <p>An email's been sent to you</p>
    </div>
  </body>
</html>